@import '../scss/colors';
@import '../scss/spacing';

:host {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header, main, footer {
  padding: $standard;
}

header { background-color: $orange; }

footer { background-color: $light-grey; }


@media(min-width: 1200px) {
  :host {
    grid-template-columns: 1fr 1000px 1fr;
  }

  // Use all columns for header and footer
  header, footer { grid-column: 1 /4; }

  // Use center column for content
  main { grid-column: 2 /3; }
}
