/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import './scss/colors';
@import './scss/spacing';

body {
  padding: 0;
  margin: 0;
  font-size: 16px; // set 1rem to 16px
}

// Apply font and color by default to all elements
body, body * {
  font-family: 'Open Sans', sans-serif;
  color: $text-dark;

  // Override focus outline for all elements
  &:focus {
    outline: solid 2px $focus-color;
  }
}

button { font-size: 1rem; }

// Set paragraph width for readability
p { max-width: 800px; }

.toggle-btn {
  background-color: $orange-light;
  border: none;
  padding: $tiny $small;

  &.-active { background-color: $orange-dark; }
  + .toggle-btn { border-left: solid 2px $orange; }
}

