<h1>Viktor's Angular Animation Demo Homepage</h1>

<p>
  Some Lorem Ipsum esque text to fill up the page. Chuck capicola corned beef,
  bresaola pork picanha short loin ground round meatloaf.

  <button>Button 1 to Test Focus</button>
</p>


<h2>Expandable Dynamic Content</h2>

<app-expandable-content></app-expandable-content>

<p>
  <button>Button 2 to Test Focus</button>

  Some more Lorem Ipsum esque text to fill up the page. Chuck capicola corned
  beef, bresaola pork picanha short loin ground round meatloaf.
</p>
